In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("/home/francis/group_project_ds_GDP/datasets_project/CME_DF_2020a.csv")
df.head(10)

/home/francis/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5,8,18,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Geographic area,Indicator,Sex,Series Name,Series Year,Regional group,TIME_PERIOD,OBS_VALUE,CONNECTION,DEATH_CATEGORY,...,Time Since First Birth,DEFINITION,INTERVAL,Series Method,LOWER_BOUND,UPPER_BOUND,STATUS,YEAR_TO_ACHIEVE,Model Used,COUNTRY_NOTES
0,Afghanistan,Neonatal mortality rate,Total,Afghanistan Health Survey 2018 (Direct),2018,NaN,1995-06,47.869030,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,Neonatal mortality rate,Total,Afghanistan Health Survey 2018 (Direct),2018,NaN,2000-06,35.349317,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Neonatal mortality rate,Total,Afghanistan Health Survey 2018 (Direct),2018,NaN,2005-06,27.699219,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Neonatal mortality rate,Total,Afghanistan Health Survey 2018 (Direct),2018,NaN,2010-06,21.056003,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Neonatal mortality rate,Total,Afghanistan Health Survey 2018 (Direct),2018,NaN,2015-06,20.167379,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,Neonatal mortality rate,Total,Multiple Indicator Cluster Survey 2003 (Direct),2003,NaN,1981-01,36.000000,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,Neonatal mortality rate,Total,Multiple Indicator Cluster Survey 2003 (Direct),2003,NaN,1986-01,25.000000,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,Neonatal mortality rate,Total,Multiple Indicator Cluster Survey 2003 (Direct),2003,NaN,1991-01,18.900000,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,Neonatal mortality rate,Total,Multiple Indicator Cluster Survey 2003 (Direct),2003,NaN,1996-01,19.100000,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,Neonatal mortality rate,Total,Multiple Indicator Cluster Survey 2003 (Direct),2003,NaN,2001-01,20.700000,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Filter the file to only Kenya
Kenya=(df['Geographic area'] == 'Kenya')
Kenya

0         False
1         False
2         False
3         False
4         False
          ...
475247    False
475248    False
475249    False
475250    False
475251    False
Name: Geographic area, Length: 475252, dtype: bool

In [20]:
#drop all other rows except kenyan ones

new_df = df[df['Geographic area'] == 'Kenya']
new_df

,Geographic area,Indicator,Sex,Series Name,Series Year,Regional group,TIME_PERIOD,OBS_VALUE,CONNECTION,DEATH_CATEGORY,...,Time Since First Birth,DEFINITION,INTERVAL,Series Method,LOWER_BOUND,UPPER_BOUND,STATUS,YEAR_TO_ACHIEVE,Model Used,COUNTRY_NOTES
202609,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,NaN,1991-06,23.97221,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
202610,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,NaN,1996-06,25.51217,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
202611,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,NaN,2001-06,24.86420,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
202612,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,NaN,2006-06,24.33366,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
202613,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,NaN,2011-06,21.76202,NaN,NaN,...,NaN,NaN,5.0,Survey/Census with Full Birth Histories,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205239,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,NaN,2015-06,8209.00000,NaN,NaN,...,NaN,NaN,1.0,NaN,6029.0,10735.0,NaN,NaN,NaN,NaN
205240,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,NaN,2016-06,8127.00000,NaN,NaN,...,NaN,NaN,1.0,NaN,5869.0,10722.0,NaN,NaN,NaN,NaN
205241,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,NaN,2017-06,7984.00000,NaN,NaN,...,NaN,NaN,1.0,NaN,5669.0,10636.0,NaN,NaN,NaN,NaN
205242,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,NaN,2018-06,7792.00000,NaN,NaN,...,NaN,NaN,1.0,NaN,5393.0,10493.0,NaN,NaN,NaN,NaN
205243,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,NaN,2019-06,7556.00000,NaN,NaN,...,NaN,NaN,1.0,NaN,5133.0,10270.0,NaN,NaN,NaN,NaN

In [26]:
#drop all null columns namely CONNECTION	CATEGORY Age Group of Women	Time Since First Birth	DEFINITION LOWER_BOUND	UPPER_BOUND	STATUS YEAR_TO_ACHIEVE	Model Used DEATH_CATEGORY
# Regional group COUNTRY_NOTES
nonull_df=new_df.drop(['CONNECTION', 'CATEGORY', 'Age Group of Women', 'Time Since First Birth', 'DEFINITION', 'LOWER_BOUND', 'UPPER_BOUND', 'STATUS', 'YEAR_TO_ACHIEVE', 'Model Used', 'DEATH_CATEGORY', 'Regional group', 'COUNTRY_NOTES'], axis =1 )
nonull_df

,Geographic area,Indicator,Sex,Series Name,Series Year,TIME_PERIOD,OBS_VALUE,Observation Status,Unit of measure,Series Category,Series Type,STD_ERR,REF_DATE,INTERVAL,Series Method
202609,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,1991-06,23.97221,Included in IGME,Deaths per 1000 live births,DHS,Direct,2.608378,1991.5,5.0,Survey/Census with Full Birth Histories
202610,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,1996-06,25.51217,Included in IGME,Deaths per 1000 live births,DHS,Direct,2.273639,1996.5,5.0,Survey/Census with Full Birth Histories
202611,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,2001-06,24.86420,Included in IGME,Deaths per 1000 live births,DHS,Direct,1.739099,2001.5,5.0,Survey/Census with Full Birth Histories
202612,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,2006-06,24.33366,Included in IGME,Deaths per 1000 live births,DHS,Direct,1.731843,2006.5,5.0,Survey/Census with Full Birth Histories
202613,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,2011-06,21.76202,Included in IGME,Deaths per 1000 live births,DHS,Direct,1.526112,2011.5,5.0,Survey/Census with Full Birth Histories
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205239,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,2015-06,8209.00000,Normal value,Number of deaths,NaN,NaN,NaN,2015.5,1.0,NaN
205240,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,2016-06,8127.00000,Normal value,Number of deaths,NaN,NaN,NaN,2016.5,1.0,NaN
205241,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,2017-06,7984.00000,Normal value,Number of deaths,NaN,NaN,NaN,2017.5,1.0,NaN
205242,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,2018-06,7792.00000,Normal value,Number of deaths,NaN,NaN,NaN,2018.5,1.0,NaN
205243,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,2019-06,7556.00000,Normal value,Number of deaths,NaN,NaN,NaN,2019.5,1.0,NaN

In [27]:
# drop columns that are not in use for the research namely OBS_VALUE Observation Status	Series Category	Series Type	REF_DATE Series Method
Kenyan_df = nonull_df.drop(['OBS_VALUE', 'Observation Status', 'Series Category', 'Series Type', 'REF_DATE', 'Series Method'], axis=1)
Kenyan_df

,Geographic area,Indicator,Sex,Series Name,Series Year,TIME_PERIOD,Unit of measure,STD_ERR,INTERVAL
202609,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,1991-06,Deaths per 1000 live births,2.608378,5.0
202610,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,1996-06,Deaths per 1000 live births,2.273639,5.0
202611,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,2001-06,Deaths per 1000 live births,1.739099,5.0
202612,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,2006-06,Deaths per 1000 live births,1.731843,5.0
202613,Kenya,Neonatal mortality rate,Total,Demographic and Health Survey 2014 (Direct),2014,2011-06,Deaths per 1000 live births,1.526112,5.0
...,...,...,...,...,...,...,...,...,...
205239,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,2015-06,Number of deaths,NaN,1.0
205240,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,2016-06,Number of deaths,NaN,1.0
205241,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,2017-06,Number of deaths,NaN,1.0
205242,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,2018-06,Number of deaths,NaN,1.0
205243,Kenya,Deaths age 5 to 9,Total,UN IGME estimate,2020,2019-06,Number of deaths,NaN,1.0

In [28]:
kenyan_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2635 entries, 202609 to 205243
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Geographic area     2635 non-null   object
 1   Indicator           2635 non-null   object
 2   Sex                 2635 non-null   object
 3   Series Name         2635 non-null   object
 4   Series Year         2635 non-null   object
 5   TIME_PERIOD         2635 non-null   object
 6   OBS_VALUE           2635 non-null   float64
 7   Observation Status  2635 non-null   object
 8   Unit of measure     2635 non-null   object
 9   Series Category     791 non-null    object
 10  Series Type         755 non-null    object
 11  STD_ERR             589 non-null    float64
 12  REF_DATE            2635 non-null   float64
 13  INTERVAL            2392 non-null   float64
 14  Series Method       791 non-null    object
dtypes: float64(4), object(11)
memory usage: 329.4+ KB